@page
@model Khronos4.Pages.TestModel
@{
}

<h2>SITE MAP</h2>

<hr />
<h4>PUBLIC ACCESS</h4>
<a href="Admin">Admin</a>
<br><a href="Blog">Blog</a>
<br><a href="DbStatus">DbStatus</a>
<br><a href="Error">Error</a>
<br><a href="Login">Login</a>
<br><a href="Logout">Logout</a>
<br><a href="Privacy">Privacy</a>
<br><a href="Register">Register</a>

<hr />
<h4>PRIVATE ACCESS</h4>

<a href="AdminDashboard">AdminDashboard</a>
<img class="tile-icon" src="./images/security.png" />

<br><a href="Dashboard">Dashboard</a>
<img class="tile-icon" src="./images/security.png" />

<br><a href="Index">Index</a>
<img class="tile-icon" src="./images/security.png" />

<hr />
<h4>FIELD SERVICE</h4>
<a href="H2HRecords">H2H</a>
<img class="tile-icon" src="./images/security.png" />

<br><a href="OneSearch">OneSearch</a>
<img class="tile-icon" src="./images/security.png" />

<br><a href="OneSearchResults">OneSearchResults</a>
<img class="tile-icon" src="./images/security.png" />

<br><a href="Placements">Placements</a>
<img class="tile-icon" src="./images/security.png" />

<br><a href="AnnualReport">Annual Report</a>
<img class="tile-icon" src="./images/security.png" />

<hr />
<h4>KH MEETINGS</h4>

<hr />
<h4>STUDY TOOLS</h4>



