@page
@model Khronos4.Pages.TestPageModel
@{
}

// TestPage.cshtml
<h1>Test Page</h1>

<p>Test Connection: @ViewData["TestConnection"]</p>
<p>Load Elders and Servants Dropdown: @ViewData["LoadEldersAndServantsDropdown"]</p>
