@page
@model Khronos4.Pages.TestModel
@{
}

<h2>Test Links</h2>
<br><a href="Admin">Admin</a>
<br><a href="AdminDashboard">AdminDashboard</a>
<br><a href="Blog">Blog</a>
<br><a href="Dashboard">Dashboard</a>
<br><a href="DbStatus">DbStatus</a>
<br><a href="Error">Error</a>
<br><a href="H2HRecords">H2H</a>
<br><a href="Index">Index</a>
<br><a href="Login">Login</a>
<br><a href="Logout">Logout</a>
<br><a href="OneSearch">OneSearch</a> @* Needs to be authenticated *@
<br><a href="OneSearchResults">OneSearchResults</a> @* Needs to be authenticated *@
<br><a href="Placements">Placements</a> @* Needs to be authenticated *@
<br><a href="Privacy">Privacy</a>
<br><a href="Register">Register</a>
<br><a href="AnnualReport">Annual Report</a>
